- content_for :head do
  = render 'shared/common_header'
= semantic_form_for @download, :html => {:multipart => true} do |f|
  = f.inputs :artist, :title, :release_date
  - if @download.zipfile.file?
    %fieldset.inputs
      %ol
        %li.string.input
          %label.label Existing file:
          =link_to @download.zipfile.original_filename, download_direct_attachment_path(@download.id)
  = f.inputs :zipfile
  = f.actions
  - if @download.persisted?
    %p.link= link_to 'Print or create download codes', new_download_code_path(@download)
    %p.link= link_to 'View redeemed download codes', download_codes_path(@download)
