%h1 Existing downloads
- if @downloads.empty?
  No downloads to show

%p= link_to 'Create a new download', new_download_path

%table
  %thead
    %tr
      %td Artist
      %td Title
      %td Release date
      %td
  %tbody
  - @downloads.each do |download|
    %tr
      %td= download.artist
      %td= download.title
      %td= download.release_date
      %td= link_to 'Edit', edit_download_path(download)
