%p= link_to 'Home', root_path

%h1 Existing downloads
- if @downloads.empty?
  No downloads to show

%p= link_to 'Create a new download', new_download_path

%table
  %thead
    %tr
      %td Artist
      %td Title
      %td Release date
      %td Attachment
      %td Codes
      %td
  %tbody
  - @downloads.each do |download|
    %tr
      %td= download.artist
      %td= download.title
      %td= download.release_date
      %td
        - if download.zipfile.file?
          x
      %td= link_to download.download_codes.length, new_download_code_path(download)
      %td= link_to 'Edit', edit_download_path(download)
