- content_for :head do
  #header{:onclick => "location.href=#{root_path}"}
    = image_tag 'tlo-logo-100.jpg'
    .header-text
      %h1 Translinguistic Other
      .description harmonies. heirophanies. beatific visions.
- if user_signed_in?
  %p= link_to 'Sign out', destroy_user_session_path, :method => :delete
  %ul
    %li= link_to "View downloads", downloads_path
- else
  %p= link_to 'Redeem Code', redeem_download_code_path
  %p= link_to 'Admin', downloads_path
