- content_for :head do
  = render 'shared/common_header'
%p Redeemed codes for
%h1
  =link_to "#{@download.artist} - #{@download.title}", edit_download_path(@download)

%table
  %thead
    %td Code
    %td Email
    %td Date Redeemed
    %td User IP
  %tbody
    - @codes do |code|
      %tr
        %td
          = code.code
        %td
          = code.email
        %td
          = code.redeemed_date
        %td
          = code.user_ip
