- content_for :head do
  = render 'shared/common_header'
%p
  = @download.title
  currently has
  = @download.download_codes.length
  codes

- if @download.download_codes.length > 0
  %p= link_to 'Download existing codes', download_codes_path(@download, :format => 'pdf')

%form.formtastic{:action => download_codes_path(@download), :method => 'post'}
  %fieldset.inputs
    = csrf_meta_tag
    %ol
      %li.string.input
        %label.label{:for => 'count'} Number to create
        %input{:type => 'text', :id => 'count', :name => 'count'}
    %ol
      %li.input
        %label.label
        %input{:type => 'Submit', :value => 'Generate codes'}
