- content_for :head do
  = render 'shared/common_header'
%p
  =link_to @download.title, edit_download_path(@download)
  currently has
  = @download.download_codes.length
  codes

- if @download.download_codes.length > 0
  %p= link_to "Download existing #{@download.download_codes.length} codes", download_codes_path(@download, :format => 'pdf')

= semantic_form_for @download, :html => {:multipart => true}, :url => download_codes_path(@download), :method => 'post' do |f|
  = f.inputs do
    %li.string.input
      %label{:for => 'count'} Number to create
      %input{:type => 'text', :id => 'count', :name => 'count'}
  = f.actions do
    = f.action :submit, :label => 'Generate codes'
