- content_for :head do
  = render 'shared/full_header'
= semantic_form_for @code, :url => do_redeem_download_code_path do |f|
  = f.inputs do
    = f.input :code, :label => 'Enter code:'
    = f.input :email, :label => 'Your email:'
    = f.input :redeemed_date, :as => :hidden, :value => @date
    = f.input :redeemed, :as => :hidden, :value => 1
  = f.actions do
    = f.action :submit, :label => 'Redeem code'
