!!!
%html
  %head
    %title Translinguistic Other
    = stylesheet_link_tag %w{formtastic.css main.css}
    /[if lt IE 8]
      = stylesheet_link_tag 'formtastic_ie7.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #page
      = yield :head
      .content
        = yield
